body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('/static/background-image.jpg');
    background-size: 130%;
    background-repeat: repeat;
    background-position: center;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px 60px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 30px; 
}


form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ced4da;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: white;
}


a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

h1{
    font-family: "Afacad", serif;
    font-size: larger;
}

h2{
    font-family: "Afacad", serif;
    color: #007bff;
}

.btn{
    background-color: #007bff;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 24px;
    border-radius: 8px;
    border-color: #007bff;
}

header{
    width: 100%; 
    height: 60px;
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    padding: 1px 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Afacad", serif;
    font-size: larger;
}

html, body {
    margin: 0;
    padding: 0;
}

input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divbg{
    background-color: white;
    margin-right: 88%;
    border-top-right-radius: 8px;   
    border-bottom-right-radius: 8px;   
}
