<!DOCTYPE html>
<html>
<head>
    <title>Fixed Point Iteration Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<header class="header">
    <div style="
    display: flex; 
    align-items: center;
    text-align: center;">
        <img src="static/logo.svg" alt="Deskripsi Gambar" style="width: 35px; height: auto; margin-right: 10px;">
        <h1>Metode Iterasi Titik Tetap</h1>
    </div>
</header>
<br>
<body>
    <form method="post">
        <label for="gx"><h1>g(x):</h1></label>
        <input type="text" id="gx" name="gx" required><br>
        
        <label for="batas_error"><h1>Batas Error:</h1></label>
        <input type="text" id="batas_error" name="batas_error" required><br>
        
        <label for="nilai_awal"><h1>Nilai Awal:</h1></label>
        <input type="text" id="nilai_awal" name="nilai_awal" required><br>
        
        <input type="submit" value="Hitung">
    </form>

    {% if hasil %}
    <div class="divbg" style="display: flex; align-items: center;">
        <img src="static/abacus.png" alt="Deskripsi Gambar" style="width: 40px; height: auto; margin-right: 10px;">
        <h2>Hasil Iterasi Titik Tetap</h2>
    </div>
    <table border="1">
        <tr>
            <th><h1>Iterasi</h1></th>
            <th><h1>x0</h1></th>
            <th><h1>x1</h1></th>
            <th><h1>Error</h1></th>
        </tr>
        {% for i, x, gx, e in hasil %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ '{:.7f}'.format(x) }}</td>
            <td>{{ '{:.7f}'.format(gx) }}</td>
            <td>{{ '{:.7f}'.format(e) }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button class="btn" onclick="window.location.href='/'">RESET</button>
    {% endif %}
</body>
</html>
